<button (click)="getName()">
    click
</button>
<h1>{{name}}</h1>
<div class="layoutBasic">
    <h1 style="color: rgb(241, 143, 13);"><mat-icon>input</mat-icon>Login</h1>
    <hr style="background-color:rgb(12, 182, 173);height: 1px;">
    <p class="mat-display-1" style="color: #136ca7;">Applicant Login Here</p>
    <input type="text" placeholder="Enter UserName" [(ngModel)]="username">
    
    <br>
    <br>
    <input type="password" placeholder="******" [(ngModel)]="password"><br><br>
    <p style="color: red;" *ngIf="credential">Wrong login credential!</p>
    <div class="spaces">
        <button (click)="loginCheck()" mat-raised-button style="background-color: rgb(11, 139, 7);">Login here</button>
        <button mat-raised-button style="background-color: #136ca7;">Forgot Password</button>
        <button mat-raised-button style="background-color: rgb(212, 52, 52);">Forgot Username</button>
    </div>
    <br>
    <div class="addBorder">
    <h3>Instructions</h3>
        <p><mat-icon>notes</mat-icon>Enter your registered username</p>
        <p><mat-icon>notes</mat-icon>Enter your Password</p>
        <p><mat-icon>notes</mat-icon>Click on Forgot Password, if you forgot your password entered while registration</p>
        <p><mat-icon>notes</mat-icon>Click on Forgot UserName, if you forgot your UserName entered while registration</p>
    </div>
    
</div>
