<div class="layoutBasic">
    <h1><mat-icon>input</mat-icon>Login</h1>
    <hr>
    <h3>Applicant Login Here</h3>
    <input type="text" placeholder="Enter UserName">
    <br>
    <br>
    <input type="password" placeholder="******"><br><br>
    <div class="spaces">
        <button mat-raised-button color="primary">Login here</button>
        <button mat-raised-button color="accent">forgot password</button>
        <button mat-raised-button color="warn">forgot username</button>
    </div>
    <br>
    <div class="addBorder">
    <h3>Instructions</h3>
        <p><mat-icon>notes</mat-icon>Enter your registered username</p>
        <p><mat-icon>notes</mat-icon>Enter your Password</p>
        <p><mat-icon>notes</mat-icon>Click on Forgot Password, if you forgot your password entered while registration</p>
        <p><mat-icon>notes</mat-icon>Click on Forgot UserName, if you forgot your UserName entered while registration</p>
    </div>
    <button mat-raised-button (click)="getEmp()">Heelo</button>
    <div *ngFor="let emp of e">
        {{emp.name}}
    </div>
</div>
