<p>upload works!</p>
<input type="file" name="pic" accept="image/*" (change)="onFileChanged($event)">
<button mat-raised_button (click)="onSubmit()">Submit</button>
<script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-storage.js"></script>
<form>   
    <input type="text"  [(ngModel)]="name" name="name">
    <button (click)="downloadUrl()">Happy</button>
</form>
    <input type="text"  [(ngModel)]="delname" name="name">
    <button (click)="deleteImage()">Not Happy</button>
<img src="{{url}}">