<button mat-raised-button (click)="getAllDetails()">Refresh</button>
<p>{{name}}</p>             
<button mat-raised-button><a [routerLink]="[ '/upload']">Go to uploads</a></button>
<button mat-raised-button><a [routerLink]="[ '/form']">Go to uploads</a></button>

<div *ngFor="let l of sch;let i=index">
    
    <h2>{{i+1}} {{l.id}}</h2>
    <hr>
    <h3>Overview</h3>
    {{l.Overview}}<br>
    <h3>Benefit</h3>
    <button mat-raised-button><a href="{{l.Benefit_pdf}}">View Benefits</a></button>
    <br>
    <h3>Eligibility</h3>
    <ul style="list-style-type:square;">
        <div *ngFor="let m of l.Eligibility">
            <li>{{m}}</li>
        </div>
    </ul>
    <h3>Required_Documents</h3>
    <ul style="list-style-type:square;">
        <div *ngFor="let m of l.Document">
            <li>{{m}}</li>
        </div>
    </ul>

</div>
