<br>
<button style="float:right" mat-raised-button color="warn" routerLink="">Back To home</button>
<h2 style="color:rgb(6, 184, 216);">New Registration</h2>
<hr>
<h1 class="displat-4">Customer registration form</h1>
<form #form="ngForm" autocomplete="off" >
        <div class="form-group">
            <input type="hidden" name="id" #fullName="ngModel" [(ngModel)]="service.formData.id" class="form-control" placeholder="fullName" required>
        </div>
        <div class="form-group">
            
            <input name="fullName" #fullName="ngModel" [(ngModel)]="service.formData.fullName" class="form-control" placeholder="fullName" required>
        </div>
        <div class="form-group">
            <input name="username"  #mobile="ngModel" class="form-control" [(ngModel)]="service.formData.username" placeholder="Username" required>
        </div>
        <div class="form-group">
            <input name="person_password"  #address="ngModel" class="form-control" [(ngModel)]="service.formData.person_password" placeholder="Password" required>
        </div>
        <div class="form-group">
            <input name="email"  #address="ngModel" class="form-control" [(ngModel)]="service.formData.email" placeholder="Email" required>
        </div>
        <div class="form-group">
            <input name="mobile"  #mobile="ngModel" class="form-control" [(ngModel)]="service.formData.mobile" placeholder="mobile" required>
        </div>
        <div class="form-group">
            <input name="address"  #address="ngModel" class="form-control" [(ngModel)]="service.formData.address" placeholder="address" required>
        </div>
        <div class="form-group">
            <button type="submit"  mat-raised-button (click)="onsubmit(form)">Submit</button>
        </div>
</form>
