<p>disaster works!</p>
<div>
    <button mat-raised-button (click)='getEarthquake($event)'>Get</button>
    <!-- <div *ngFor="let x of earth">
        {{x.edate}}{{x.region}}
    </div> -->
</div>

<mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<table mat-table [dataSource]="earth">
    <ng-container matColumnDef="edate">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let user"> {{user.edate}} </td>
    </ng-container>
    <ng-container matColumnDef="etime">
            <th mat-header-cell *matHeaderCellDef> Time </th>
            <td mat-cell *matCellDef="let user"> {{user.etime}} </td>
    </ng-container>
    <ng-container matColumnDef="lati">
            <th mat-header-cell *matHeaderCellDef> Lantitude </th>
            <td mat-cell *matCellDef="let user"> {{user.lati}} </td>
    </ng-container>
    <ng-container matColumnDef="longi">
            <th mat-header-cell *matHeaderCellDef> Longitude </th>
            <td mat-cell *matCellDef="let user"> {{user.longi}} </td>
    </ng-container>
    <ng-container matColumnDef="edepth">
            <th mat-header-cell *matHeaderCellDef> Depth </th>
            <td mat-cell *matCellDef="let user"> {{user.edepth}} </td>
    </ng-container>
    <ng-container matColumnDef="mag">
            <th mat-header-cell *matHeaderCellDef> Magnitude </th>
            <td mat-cell *matCellDef="let user"> {{user.magnitude}} </td>
    </ng-container>
    <ng-container matColumnDef="region">
            <th mat-header-cell *matHeaderCellDef> Region </th>
            <td mat-cell *matCellDef="let user"> {{user.region}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
<tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
<table cellSpacing="0" cellPadding=0 width="80%" border="0">
        <tr vAlign=top><td colspan="3" align="center"><img src="http://www.imd.gov.in/section/hydro/img/week-rain.jpg" ></td></tr>
</table>

      
      